@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    
}


body::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
     background:  rgb(238, 255, 228);
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}

.w-450 {
	width: 450px;
}
.vh-100 {
	min-height: 60vh;
	height: auto;
}
#hello{
	height: 50vh;
}
.items{
	min-height: 100vh;
	background-color: rgb(255, 255, 245);
}

.main{
    min-height: 85vh;
    height: auto;
    text-align: center;
}
.sample{
    width: 80%;
    margin: auto;
    min-height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.sample>div{
    height: 35vh;
    width:16%;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



a{
    text-decoration: none;
    color: black;
}
a:hover{
	color: black;
}
.meta{
    text-align: center;
    font-weight: bold;
    background-color: #fdcedf;
}
.meta a{
    padding: 4px 27px;
    margin: 5vh auto;
    text-align: center;
    background-color: #fa2670;
    border-radius: 5px;
}
.bmi{
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 232, 255);
}
#draw{
    height:27vh;
    width:100%;
}
.bmi a{
    padding: 5px 55px;
    background-color: rgb(255, 125, 255);
    border-radius: 5px;
}
.bodyfat{
    text-align: center;
    font-weight: bold;
    background-color: rgb(237, 255, 232);
}
.bodyfat a{
    padding: 4px 35px;
    margin: 5vh auto;
    text-align: center;
    background-color: rgb(141, 249, 111);
    border-radius: 5px;
}
.bmr{
    text-align: center;
    font-weight: bold;
    background-color: rgb(251, 255, 196);
}
.bmr a{
    padding: 5px 55px;
    background-color: rgb(239, 255, 20);
    border-radius: 5px;
}