
*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


body::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
     background:  rgb(238, 255, 228);
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}

.header{
    min-height: 100vh;
    max-height:100vh;
    width: 100%;
    background-color: rgb(248 255 249);
}
.main{
    display: flex;
    justify-content:space-between;
}
.main-left{
    margin-top: 15vh;
    width: 50%;
}
#img-main{
    height: 60vh;
    width: auto;
    margin-left: 55px;
}
.main-right{
    margin-top: 15vh;
    width: 50%;
}
.main-right h1{
    font-size: 35px;
    text-align: right;
    margin-right: 95px;
}
.links{
    display: flex;
    width: 80%;
    height:auto;
    color: black;
    text-decoration: none;
    margin: 35vh auto;
    justify-content: space-around;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.guestlink{
   
    padding: 15px 40px;
    border-radius: 15px;
    background-color: #f7ff18;
}
.Userlink{
    padding: 15px 40px;
    border-radius: 20px;
    background-color: #4234ff;
}