
*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


body::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
     background:  rgb(238, 255, 228);
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}

.header{
    min-height: 100vh;
    max-height:100vh;
    background-color: rgb(248 255 249);
}

.main{
    min-height: 90vh;
    display: flex;
    flex-wrap:wrap;
    align-self:center;
    
}

.main-left{
    margin-top: 15vh;
    min-width: 50%;
    min-height: 60vh;
     
}
.main-left img{
    height: 60vh;
    width: auto;
}
.main-right{
    margin-top: 15vh;
    min-width: 50%;
    min-height: 60vh;
   
  
}
.main-right h1{
    font-size:35px;
   text-align:center ;
    margin-top: 10vh;
}



 /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */

    .main{
        min-height: 90vh;
        display: flex;
    }
    
    .main-left{
        margin-top: 15vh;
        width: 50%;
        min-height: 60vh;
         
    }
    .main-left img{
        height: 60vh;
        width: auto;
    }
    .main-right h1{
        font-size: 35px;
        text-align:center ;
        margin-top:10vh;
    }

}


@media (max-width: 1920px) and (max-height: 1080px) {
    
    /* CSS */

    .main{
        min-height: 90vh;
        display: flex;
    }
    
    .main-left{
        margin-top: 15vh;
        width: 50%;
        min-height: 60vh;
         
    }
    .main-left img{
        height: 60vh;
        width: auto;
    }
    .main-right h1{
        font-size: 35px;
        text-align:center ;
        margin-top:10vh;
    }

}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .main{
        min-height: 90vh;
        display: flex;
    }
    
    .main-left{
        margin-top: 15vh;
        width: 50%;
        min-height: 60vh;
         
    }
    .main-left img{
        height: 60vh;
        width: auto;
    }
    .main-right h1{
        font-size: 35px;
        text-align:center ;
        margin-top:10vh;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .main{
        min-height: 90vh;
        display: flex;
    }
    
    .main-left{
        margin-top: 15vh;
        width: 50%;
        min-height: 60vh;
         
    }
    .main-left img{
        height: 60vh;
        width: auto;
    }
    .main-right h1{
        font-size: 35px;
        text-align:center;
        margin-top:10vh;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .header{
        min-height: 100vh;
        
        background-color: rgb(248 255 249);
    }
    
    .main{
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-self:center;
        
    }
    
    .main-left{
        margin-top: 15vh;
        min-width:100%;
        min-height: 50vh;
         
    }
    .main-left img{
        height: 60vh;
        width: auto;
    }
    .main-right{
        margin-top: 15vh;
        min-width: 50%;
        min-height: 60vh;
       
      
    }
    .main-right h1{
        font-size:35px;
        text-align: right;
        margin-right:30px;
        margin-top: 10vh;
    }
    
  }