*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


body::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
     background:  rgb(238, 255, 228);
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}

.Header{
    height: 25vh;
    display: flex;
    background: url(../Images/guestbanner.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    height: 8vh;
    width: 98%;
    margin:auto;
    border-radius: 5px;
    background-color: #736e9e2e;
}
.nav h3{
    text-align: center;
    margin:auto;
    color: #ffffff;
}
.main{
    min-height: 80vh;
    height: auto;
    
}
.sample{
    width: 85%;
    margin: auto;
    min-height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.sample>div{
    height: 35vh;
    width:16%;
    margin: auto;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: black;
}
.bmi{
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 232, 255);
}
.bmi img{
    height:27vh;
    width:100%;
}
.bmi a{
    padding: 5px 55px;
    background-color: rgb(241, 90, 241);
    border-radius: 5px;
}